@font-face{
    font-family: 'gilroy';
    src:url(fonts/Gilroy-Light.otf);
    font-weight: 100;
}
@font-face{
    font-family: 'gilroy';
    src:url(fonts/Gilroy-ExtraBold.otf);
    font-weight: 800;
}
*{
    margin:0;
    padding:0;
}
body{
    background-color: #361d5a;
}
header{
display:flex;
height: 100px;
align-items: center;
justify-content: space-between;
padding: 0 100px;
position: absolute;
width: calc(100% - 200px);
z-index: 1;
}
header h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'gilroy';
    font-weight: 800;
}
header .dropdown{
    position: relative;
    display: inline-block;

}
header .dropdown svg{
    fill: #fff;
    width: 32px;
    cursor: pointer;
}
header .dropdown .dropdwon-content{
    display: none;
    position: absolute;
    background-color: #190e2a;
    min-width: 130px;
    left: -98px;
    z-index: 2;
}
header .dropdown .dropdwon-content a{
    font-family: 'gilroy';
    font-weight: 100;
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 16px;
    text-align: right;
    transition: background-color 0.4s;
}
header .dropdown .dropdwon-content a:hover{
   background-color: #10071d;
}
header .dropdown:hover .dropdwon-content{
    display: block;
}
section{
    height: 100vh;
    padding: 0 100px;
    position: relative; 
}
